
entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Discord Bot"

[[workflows.workflow]]
name = "Run Discord Bot"
author = 21610329
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
restart = "always"
maxRestarts = 20
restartDelay = 1500

[[workflows.workflow]]
name = "Run With Debug"
author = 21610329
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -u main.py"
restart = "always"
maxRestarts = 10
restartDelay = 3000
